/**
 * @description 首页
 * @author ghc
 */


/* banner */
.banner {
    margin: 20px auto;
}
.ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}
.banner-pic {
    background: #364d79;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* 类别切换&搜索 */
.nav-search {
    position: relative;
}
.search {
    position: absolute;
    right: 0;
    top: 10px;
}

/* 内容区域 */
.chat-list {
    margin: 20px auto;
}
.chat-list li {
    float: left;
    margin: 0 0 20px 20px;
}
.chat-list li:nth-child(5n+1) {
    margin-left: 0;
}