/* register */
body {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    background-image: url("../res/img/register-bg.jpg");
    background-position: center;
    background-size: cover;
}
.register-box {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 360px;
    height: auto;
    padding: 20px 40px;
    background-color: #fff;
    transform: translate(-50%,-50%);
}
.register-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    overflow: hidden;
}
.register-title a {
    float: left;
    font-size: 18px;
}
.register-title span {
    float: right;
}
.register-form {
    max-width: auto;
}
.register-mult-oper {
    overflow: hidden;
}
.register-form-forgot {
    float: left;
}
.to-login {
    float: right;
}
.register-form-button {
    width: 100%;
}
.check-code {
    display: inline-block;
    width: 90px;
    margin: 0 0 0 10px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 40px;
    border: 1px solid #eee;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    user-select: none;
}